.Navbar {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 10vh;
}

.logo {
	margin-right: 20px;
	padding: 0 20px;
	font-size: 22px;
	background-color: rgba(20, 20, 20, 0.95);
	font-family: Roboto;
	height: 100%;
	display: flex;
	align-items: center;

	a {
		text-decoration: none;
		color: white;
	}

}

.select-container {
	margin-left: auto;
	margin-right: 10px;
}

.slider {
	width: 340px;
	margin: 0 30px;
	display: inline-block
}

.rc-slider-track {
	background-color: transparent;
}

.rc-slider-rail {
	height: 10px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
	background-color: green;
	outline: none;
	border: 2px solid green;
	box-shadow: none;
	width: 16px;
	height:16px;
	margin-top: -3px;
}